<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color:lavenderblush">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/addbook">AddBook</a>
                  </li>
                  <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="/viewbook">ViewBook</a>
                        </li>
                </ul>
            </nav>
    <div class="container" >
        <div class="row">
            <div class="col col-12 col-sm-6 col-md-4"></div>
            <div class="col col-12 col-sm-6 col-md-4">
                <table class="table">
                    <tr><td>Title</td><td><input type="text"class="form-control"></td></tr>
                    <tr><td>Author</td><td><input type="text"class="form-control"></td></tr>
                    <tr><td>Publisher</td><td><textarea col="4"rows="4" class="form-control"></textarea></td></tr>
                    <tr><td>Date of publishing</td><td><input type="date" class="form-control"></td></tr>
                    <tr><td>DistributorName</td><td><input type="text"class="form-control"></td></tr>
                    <tr><td>Price</td><td>Rs/-<input type="number" class="form-control"></td></tr>
                    <tr><td>Description</td><td><textarea col="4"rows="4" class="form-control"></textarea></td></tr>
                    <tr><td></td><td><button class="btn btn-info">SUBMIT</button></td></tr>
                </table>
            </div>
            <div class="col col-12 col-sm-6 col-md-4"></div>
        </div>
    </div>
</body>
</html>